extends layout

block content
  h1 Flok's Header Parser API
  h2 Usage
  code https://headerparser-flok.glitch.me/api/whoami
  br
  h2 Expected example output
  code { ipaddress: "91.104.21.249", language: "hu-HU", software: "OS: Windows 10.0, Browser: Chrome" }
